@import "tailwindcss";

@theme {
  --color-abu-monyet: #4c585b;

  --breakpoint-tablet: 768px;
}

.card {
  @apply flex flex-col gap-2 border border-abu-monyet p-4 sm:flex-row sm:items-center hover:scale-110
  hover:rotate-360 transition-all duration-1000 delay-1000 hover:animate-bounce;
}

.card-title {
  @apply text-3xl font-bold text-abu-monyet;
}

.pill {
  @apply w-fit rounded-full bg-gray-400 px-2 text-sm text-white;
}
